body {
    background-color: aquamarine;
}
.flex-div {
    height: 350px;
    transform: rotate(180deg);
    background-color: #103e61;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.navBar {
    /* display: inline-block; */
    width: 100%;
    text-align: center;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: coral;
}
a {
    display: inline-block;
    color: aliceblue;
    padding: 10px 16px;
    text-decoration: none;
}
li {
    display: inline-block;
    text-decoration: none;
}

li:hover {
    background-color:peru;
}
.button-class {
    width: 100%;
    text-align: center;
    background-color: darkslategrey;
}
button{
    background-color: darkkhaki;
    /* border: none; */
    /* background: transparent; */
}
